<aside class="side-navbar">
    <div class="scroll-content" id="metismenu">
        <ul id="side-menu" class="metismenu list-unstyled">
            <li class="side-nav-title side-nav-item menu-title">Menu</li>
            <li>
                <a href="javascript:void(0);" class="side-nav-link" aria-expanded="false">
                    <i class="bx bx-store"></i>
                    <span>Accounts</span>
                    <span class="menu-arrow"></span>
                </a>
                <ul aria-expanded="false" class="nav-second-level mm-collapse">
                    <li class="side-nav-item">
                        <a class="side-nav-link" href='@Url.Action("Index", "Users") '>
                            <i class="bx bx-chat"></i>
                            <span>Users</span>
                        </a>
                    </li>
                    <li class="side-nav-item">
                        <a class="side-nav-link" href="ecommerce-product.html">Add User</a>
                    </li>
                    <li class="side-nav-item">
                        <a class="side-nav-link" href="ecommerce-product.html">Add User Group</a>
                    </li>
                </ul>
            </li>

            <li>
                <a class="side-nav-link" href='@Url.Action("Index", "UserGroupPermissions") '>
                    <i class="bx bx-chat"></i>
                    <span>User Group</span>
                </a>
            </li>
            <li>
                <a class="side-nav-link" href='@Url.Action("Index", "Parts") '>
                    <i class="bx bx-chat"></i>
                    <span>Parts</span>
                </a>
            </li>
            <li>
                <a class="side-nav-link" href='@Url.Action("Index", "Checkpoints") '>
                    <i class="bx bx-chat"></i>
                    <span>Checkpoints</span>
                </a>
            </li>
            <li>
                <a class="side-nav-link" href='@Url.Action("Index", "Scheduling") '>
                    <i class="bx bx-calendar-edit"></i>
                    <span>Scheduling</span>
                </a>
            </li>
            <li>
                <a class="side-nav-link" href='@Url.Action("Index", "Inspection") '>
                    <i class="mdi mdi-magnify-scan"></i>
                    <span>Inspection</span>
                </a>
            </li>
            <li>
                <a class="side-nav-link" href='@Url.Action("Index", "Suppliers") '>
                    <i class="mdi mdi-account-box-outline"></i>
                    <span>Suppliers</span>
                </a>
            </li>

        </ul>
    </div>
</aside>