@model PartsIq.Models.Part

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Status = Model.IsActive ? "Inactive" : "Active";
    var StatusClass = Model.IsActive ? "danger" : "success";
}



<div class="page-content">
    <div class="page-title-box">
        <div class="container-fluid">
            <div class="page-title dflex-between-center">
                <a href="~/Parts" class="mb-1 fw-bold card-title text-white text-underline"><i class="mdi mdi-arrow-left-bold"></i> Go back</a>
                <ol class="breadcrumb mb-0 mt-1">
                    <li class="breadcrumb-item">
                        <a href="../index.html">
                            <i class="bx bx-home fs-xs"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="~/Parts">
                            Parts
                        </a>
                    </li>
                    <li class="breadcrumb-item active">@Model.Name</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="page-content-wrapper mt--45">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <div id="part-card-container"></div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <div class="col-lg-7 col-xl-8">
                    <div class="card">
                        <div class="card-body">
                            <ul class="nav nav-pills bg-light nav-justified" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="pills-messages-tab" data-bs-toggle="pill" href="#pills-settings" role="tab" aria-controls="pills-settings" aria-selected="true">
                                        Checkpoints
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="pills-activity-tab" data-bs-toggle="pill" href="#pills-activity" role="tab" aria-controls="pills-activity" aria-selected="false" tabindex="-1">
                                        Activity
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="pills-projects-tab" data-bs-toggle="pill" href="#pills-projects" role="tab" aria-controls="pills-projects" aria-selected="false" tabindex="-1">
                                        Logs
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="pills-tasks-tab" data-bs-toggle="pill" href="#pills-tasks" role="tab" aria-controls="pills-tasks" aria-selected="false" tabindex="-1">
                                        Tasks
                                    </a>
                                </li>

                            </ul>

                            <div class="tab-content mt-4 pt-3" id="pills-tabContent">
                                <div class="tab-pane fade" id="pills-activity" role="tabpanel" aria-labelledby="pills-activity-tab">
                                    <h5 class="card-title mb-4 pb-2"> NO CONTENT </h5>
                                </div>

                                <div class="tab-pane fade" id="pills-projects" role="tabpanel" aria-labelledby="pills-projects-tab">
                                    <h5 class="card-title mb-4 pb-2"> NO CONTENT </h5>
                                    <!-- end row -->
                                </div>

                                <div class="tab-pane fade" id="pills-tasks" role="tabpanel" aria-labelledby="pills-tasks-tab">
                                    <h5 class="card-title mb-4 pb-2"> NO CONTENT </h5>
                                </div>
                                <div class="tab-pane fade active show" id="pills-settings" role="tabpanel" aria-labelledby="pills-tasks-tab">
                                    <div class="card mb-0 shadow-none">
                                        <div class="card-header d-flex justify-content-between p-0">
                                            <h5 class="card-title">Checkpoints</h5>
                                            <button id="add-checkpoint" class="btn btn-primary"><i class="mdi mdi-plus-circle-outline"></i> Add Checkpoint/s</button>
                                        </div>
                                        <div class="card-body px-0">
                                            <!--<form action="#" novalidate="novalidate" id="addprofileform" data-type="edit">-->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-centered dt-responsive w-100 dataTable no-footer dtr-inline fs-12" id="checkpointTable">
                                                        <thead>
                                                            <tr>
                                                                <th>Code</th>
                                                                <th>Inspection Part</th>
                                                                <th>Variable Type</th>
                                                                <th>Specification</th>
                                                                <th>Upper Limit</th>
                                                                <th>Lower Limit</th>
                                                                <th>Sampling Method</th>
                                                                <th>Tool</th>
                                                                <th>Status</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                            <!--</form>-->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- end card -->
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal-->
<div id="editPartModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="#editPartModal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Part</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body p-4">
                <form id="edit-part">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="partCode" class="control-label">Code</label>
                                <input type="text" class="form-control" id="partCode" name="Code" value="@Model.Code">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="partName" class="control-label">Name</label>
                                <input type="text" class="form-control" id="partName" name="Name" value="@Model.Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="partModel" class="control-label">Model</label>
                                <input type="text" class="form-control" id="partModel" name="Model" value="@Model.Model">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="partDoc" class="control-label">Document Number</label>
                                <input type="text" class="form-control" id="partDoc" name="DocNumber" value="@Model.DocNumber">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="partType" class="control-label">Type</label>
                                <input type="text" class="form-control" id="partType" name="Type" value="@Model.Type">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Priority" class="form-label">Priority Level</label>
                                <select class="form-control" name="Priority" id="Priority">
                                    <option value="1" @(Model.Priority == 1 ? "selected" : "")>Low Priority</option>
                                    <option value="2" @(Model.Priority == 2 ? "selected" : "")>Normal Priority</option>
                                    <option value="3" @(Model.Priority == 3 ? "selected" : "")>High Priority</option>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end gap-3 mt-5">
                            <button type="button" class="btn btn-secondary waves-effect"
                                    data-bs-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" data-id="@Model.PartID" class="btn btn-success" id="partEditBtn" data-effect="wave">Save changes</button>
                        </div>
                        
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>
<div id="partStatusModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p-4 text-center">
                <i class="bx bx-notification-off fs-xl text-white modal-icon"></i>
                <h4 class="mt-2 text-white modal-title"></h4>
                <p class="mt-3 text-white modal-body-text"></p>
                <p><i class="text-white">This will completely hide the part from search and monitoring.</i></p>
                <form>
                    @Html.AntiForgeryToken();
                    <button type="button" class="btn btn-light my-2 confirm-status-btn" data-bs-dismiss="modal">Continue</button>
                    <button type="button" class="btn btn-secondary my-2" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal -->

@section scripts {
    <script>
        const partId = @Model.PartID;
        const addCheckpoint = document.getElementById('add-checkpoint');
        let checkpointTable;
        const editPart = document.getElementById('edit-part');

        $(document).ready(function () {

            if (addCheckpoint) {
                addCheckpoint.addEventListener('click', function () {
                    rerouteCreateCheckpoint(partId)
                });
            }

            loadPartCard();

        $(document).on("click", "#statusBtn", function () {

            let userID = $(this).data('partid');
            let userStatus = $(this).data('status'); // True / False
            let modal = $('#partStatusModal');

            if (userStatus == 'True') {
                modal.find('.modal-content').addClass('bg-danger').removeClass('bg-success');
                modal.find('.modal-title').text('Oh snap!');
                modal.find('.modal-body-text').text('Press continue to set Part as Inactive.');
                modal.find('.confirm-status-btn').attr("data-status", "False"); // Set status to active
                modal.find('.modal-icon').removeClass('bx-notification-on').addClass('bx-notification-off');
            } else {
                modal.find('.modal-content').addClass('bg-success').removeClass('bg-danger');
                modal.find('.modal-title').text('Status');
                modal.find('.modal-body-text').text('Press continue to set Part as Active.');
                modal.find('.confirm-status-btn').attr("data-status", "True"); // Set status to inactive
                modal.find('.modal-icon').removeClass('bx-notification-off').addClass('bx-notification-on');
            }

            modal.find('.confirm-status-btn').attr("data-id", userID); // Set the user ID
            modal.modal('show'); // Show modal
        });

       $(document).on('click', '.confirm-status-btn', function () {
            let partID = $(this).data('id');

            $.ajax({
                url: `@Url.Action("ToggleActive", "Parts")/${partID}`,
                method: "POST",
                data: { id: partID },
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                    alertify.success(`${response.message}.`);
                    loadPartCard();
                    } else {
                    alertify.error(`${response.message}.`);
                    }
                },
                error: function (err) {
                    alertify.error(`Error ${err.message} occurred.`);
                }
            });

        });

            editPart.addEventListener('submit', function (e) {
                e.preventDefault();
                const formData = new FormData(this);
                formData.append("PartID", partId)

                $.ajax({
                    url: `/Parts/EditPart`,
                    method: "POST",
                    data: Object.fromEntries(formData),
                    success: function (response) {
                        if (response.success) {
                            console.log(response.message);
                            alertify.success(`Part edited successfully.`);
                            $('#editPartModal').modal("hide");
                            loadPartCard();
                        } else {
                            alertify.error(`Error ${response.message} occurred.`);
                        }
                    },
                    error: function (error) {
                        alertify.error(`Error ${error.message} occurred.`);
                    }
                });

            });


            let id = @Html.Raw(Json.Encode(Model.PartID));
        checkpointTable =  $('#checkpointTable').DataTable({
            ajax: {
                url: '@Url.Action("GetCheckpoints", "Checkpoints")',
                data: { id: id },
                dataSrc: 'data',
            },
            responsive: true,
            lengthChange: false,
            pageLength: 10,
            columns: [
                { data: 'Code' },
                { data: 'InspectionPart'},
                { data: 'VariableType' },
                { data: 'Specification'},
                { data: 'LimitUpper' },
                { data: 'LimitLower' },
                { data: 'SamplingMethod'},
                {
                    data: 'Tools',
                    orderable: !1,
                },
                { data: 'Status' },
                {
                    data: "CheckpointId",
                    orderable: false,
                    render: function (data, type, row) {
                        let icon = row.IsActive ? 'mdi-trash-can' : 'mdi-delete-restore';
                        let btnclass = row.IsActive ? 'btn-danger' : 'btn-warning';
                        return `
                        <button data-id="${data}"class="btn btn-sm btn-secondary waves-effect waves-light mb-1" onclick="rerouteToEdit(${data})"><i class="mdi mdi-pencil"></i></button>
                        <button typr="button" data-id="${data}"class="btn btn-sm ${btnclass} waves-effect waves-light mb-1" onclick="deleteCheckpoint(${data})"><i class="mdi ${icon}"></i></button>`

                    }
                },
            ],
            rowId: 'CheckpointId',
            scrollX: true
        });



    });

        function deleteCheckpoint(id) {
            $.ajax({
                url: `/Checkpoints/DeleteCheckpoint/${id}`,
                method: 'POST',
                success: (res) => {
                    console.log(res);
                    checkpointTable.ajax.reload();
                },
                error: (err) => { console.log(err) }
            })
        }

        function rerouteCreateCheckpoint(id) {
            window.location.href = `/Checkpoints/Create/${id}`;
        }

        function rerouteToEdit(id) {
            window.location.href = `/Checkpoints/Edit/${id}`;
        }

        function loadPartCard() {
            $.ajax({
                url: '/Parts/GetPartCard',
                method: 'POST',
                data: {
                    id: partId
                },
                success: (res) => {
                    document.getElementById('part-card-container').innerHTML = ""
                    document.getElementById('part-card-container').innerHTML = res
                },
                error: (err) => {
                    console.log(err);
                }
            });
        }

    </script>

}

