@model IEnumerable<PartsIq.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content">
    <!-- page header -->
    <div class="page-title-box">
        <div class="container-fluid">
            <div class="page-title dflex-between-center">
                <h3 class="mb-1 fw-bold">Users</h3>
                <ol class="breadcrumb mb-0 mt-1">
                    <li class="breadcrumb-item">
                        <a href="../index.html">
                            <i class="bx bx-home fs-xs"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="ui-buttons.html">
                            Components
                        </a>
                    </li>
                    <li class="breadcrumb-item active">Accordian</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- page content -->
    <div class="page-content-wrapper mt--45">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Accounts</h5>
                        </div>
                        <div class="card-body">
                            <div class="row" id="user-group-nav">
                            </div>
                        </div>
                    </div> <!-- end card-box-->
                </div> <!-- end col -->
            </div> <!-- end row -->
            <!-- end row -->
        </div>
    </div>
    <!-- main content End -->
</div>

<!-- Modals-->

<div id="edit-user-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="con-close-modal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>


<!-- /.modal -->
<div id="user-status-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p-4 text-center">
                <i class="bx bx-notification-off fs-xl text-white modal-icon"></i>
                <h4 class="mt-2 text-white modal-title"></h4>
                <p class="mt-3 text-white modal-body-text"></p>
                <button type="button" class="btn btn-light my-2 confirm-status-btn" data-bs-dismiss="modal">Continue</button>
                <button type="button" class="btn btn-secondary my-2" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section scripts {

    <script>
        $(document).ready(function () {
            let currentGroupId = 0;

            $.ajax({
                url: '@Url.Action("ViewUserGroup", "UserGroupPermissions")',
                method: 'GET',
                success: function (response) {
                    $('#user-group-nav').append(response);
                }
            });

             $(document).on('click', ".nav-link", function (e) {
                 e.preventDefault();
                 currentGroupId = $(this).data("group-id");

                 $.ajax({
                     url: '@Url.Action("GetUsersInGroup", "UserGroupPermissions")',
                     data: { groupId: currentGroupId },
                     type: 'GET',
                     success: function (response) {
                         var table = $('#userTable').DataTable();
                         table.clear().draw(); // Clear existing data
                         if (response.data.length) {
                             table.rows.add(response.data).draw(); // Add new data and draw the table
                         }

                         // Recalculate the column widths and adjust the table layout
                         table.columns.adjust().responsive.recalc();
                     },
                     error: function () {
                         alert("An error occurred while fetching users.");
                     }
                 });
             });

        $(document).on("click", ".btn-primary[data-bs-target='#edit-user-modal']", function () {
            var userId = $(this).data("user-id");
                console.log(userId)
            $.ajax({
                url: '@Url.Action("GetUserEditForm", "Users")',
                data: { userId: userId },
                    type: 'GET',
                    success: function (data) {
                        $("#edit-user-modal .modal-content").html(data);
                        $("#edit-user-modal").modal("show");
                    },
                    error: function () {
                        alert("An error occurred while fetching the user details.");
                    }
                });
        });

            $(document).on("click", ".btn-status", function () {
                let userID = $(this).data('user-id');
                let userStatus = $(this).data('status'); // 0 for inactive, 1 for active
                let modal = $('#user-status-modal');

                if (userStatus == 1) {
                    modal.find('.modal-content').addClass('bg-danger').removeClass('bg-success');
                    modal.find('.modal-title').text('Oh snap!');
                    modal.find('.modal-body-text').text('Press continue to set User as Inactive.');
                    modal.find('.confirm-status-btn').attr("data-status", 0); // Set status to active
                    modal.find('.modal-icon').removeClass('bx-notification-on').addClass('bx-notification-off');
                } else {
                    modal.find('.modal-content').addClass('bg-success').removeClass('bg-danger');
                    modal.find('.modal-title').text('Status');
                    modal.find('.modal-body-text').text('Press continue to set User as Active.');
                    modal.find('.confirm-status-btn').attr("data-status", 1); // Set status to inactive
                    modal.find('.modal-icon').removeClass('bx-notification-off').addClass('bx-notification-on');
                }

                modal.find('.confirm-status-btn').attr("data-id", userID); // Set the user ID
                modal.modal('show'); // Show modal
            });

            $(document).on('click', '.confirm-status-btn', function () {

                let userID = $(this).data("id");
                let status = $(this).data("status");

                $.ajax({
                    url: '@Url.Action("ChangeUserStatus", "Users")',
                    method: "POST",
                    data: {
                        userID: userID,
                        status: status,
                    },
                    success: function (res) {
                        if (res.success) {
                            alertify.success(res.message);
                            var table = $('#userTable').DataTable();
                            table.ajax.url('@Url.Action("GetUsersInGroup", "UserGroupPermissions")').load({ groupId: currentGroupId });
                        } else {
                            alertify.error(res.message);
                        }

                        // Optionally reload or refresh the table or page content
                    }, error: function (err) {
                        alertify.error("An error occurred while updating the status.");
                    }
                });
            });

            $(document).on('click', '#edit-user-form-btn', function () {
                let formData = new FormData();

                // Collect form data
                let username = $("#Username").val().trim();
                let email = $("#Email").val().trim();
                let password = $("#Password").val().trim();
                let firstname = $("#FirstName").val().trim();
                let lastname = $("#LastName").val().trim();
                let usergroup = $('#UserGroup_ID').val();
                let userID = $('#UserId').val();

                // Append values to FormData
                formData.append("username", username);
                formData.append("email", email);
                formData.append("password", password);
                formData.append("firstname", firstname);
                formData.append("lastname", lastname);
                formData.append("usergroup", usergroup);
                formData.append("userID", userID);
                var token = $('input[name="__RequestVerificationToken"]').val();
                formData.append("__RequestVerificationToken", token);
                // AJAX request
                $.ajax({
                    url: '@Url.Action("EditUser", "Users")',
                    method: "POST",
                    data: formData,
                    processData: false, // Prevent jQuery from automatically processing the data
                    contentType: false, // Set to false to allow FormData to handle content type
                    success: function (response) {
                        alertify.success('Success.');
                        $('#edit-user-modal').modal("toggle");
                        var activeNavLink = $('.nav-link.active');
                        activeNavLink.trigger('click');

                    },
                    error: function (err) {
                        alertify.error(`Error occurred: ${err.responseText}`);
                    }
                });
            });


        });
    </script>
}